<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Servlet.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchById</servlet-name>
        <servlet-class>Servlet.SearchById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>Servlet.Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Servlet.Delete</servlet-class>
    </servlet>




    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchById</servlet-name>
        <url-pattern>/SearchById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Insert.jsp</welcome-file>
    </welcome-file-list>
</web-app>
